<footer role="contentinfo">
    <div class="soc">
    <span class="fa-stack fa-lg">
      <a href="https://twitter.com/youthradio">
        <i class="fa fa-square fa-stack-2x acc-col"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </a>
    </span>
    <span class="fa-stack fa-lg">
      <a href="https://www.facebook.com/youthradiopage">
      <i class="fa fa-square fa-stack-2x acc-col"></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </a>
    </span>
    <span class="fa-stack fa-lg">
      <a href="https://instagram.com/youthradio/">
        <i class="fa fa-square fa-stack-2x acc-col"></i>
        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
      </a>
    </span>
  </div>
{{!-- <div class="row funder">
  <div class="col-md-12">
    <img src="../assets/media/nsf2.gif" alt="NSF logo">
  </div>
  <div class="col-md-12 text-center">
    <p>This material is based upon work supported by the National Science Foundation under Grant No. DRL-1323791.</p>
    <p>Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.</p>
  </div>
</div> --}}
<p>Copyright &copy; 2015 <a href="/" title="Go to the homepage of {{@blog.title}}">{{@blog.title}}</a></p>
</footer>