{{!< default}}
{{> header}}
<section class="main" role="main">
 <h3>Staff</h3>
  <div id="team">
    <div class="team-item">
      <header class="teamheader">
        <img src="/assets/media/lo2.jpg">
        <div class="teaminfo">
        <h3>Lo Benichou</h3>
         <p class="ex">Interactive Web Developer</p>
         <p class="ex"><a href="https://twitter.com/LoBenichou">@LoBenichou</a></p>
         <p class="ex"><a href="mailto:lo@youthradio.org">lo@youthradio.org</a></p>
      </div>
      </header>
    </div>
    <div class="team-item">
      <header class="teamheader">
        <img src="/assets/media/asha.jpg">
        <div class="teaminfo">
        <h3>Asha Richardson</h3>
        <p class="ex">Project Manager</p>
        <p class="ex"><a href="https://twitter.com/AshaLaura">@AshaLaura</a></p>
        <p class="ex"><a href="mailto:asha@youthradio.org">asha@youthradio.org</a></p>
      </div>
      </header>

    </div>
    <div class="team-item">
      <header class="teamheader">
        <img src="/assets/media/teresa.jpg">
        <div class="teaminfo">
        <h3>Teresa Chin</h3>
        <p class="ex">Producer | Designer</p>
        <p class="ex"><a href="https://twitter.com/TeresaLChin">@TeresaLChin</a></p>
        <p class="ex"><a href="mailto:teresa@youthradio.org">teresa@youthradio.org</a></p>
      </div>
      </header>
    </div>
    <div class="team-item">
      <header class="teamheader">
        <img src="/assets/media/lissa.jpg">
        <div class="teaminfo">
        <h3>Lissa Soep</h3>
        <p class="ex">Senior Producer | Research Director</p>
        <p class="ex"><a href="https://twitter.com/lissasoep">@lissasoep</a></p>
        <p class="ex"><a href="mailto:lissa@youthradio.org">lissa@youthradio.org</a></p>
      </div>
      </header>
    </div>
    <div class="team-item">
      <header class="teamheader">
        <img src="/assets/media/cliff-lee.jpg">
         <div class="teaminfo">
        <h3>Cliff Lee</h3>
        <p class="ex">Scholar-in-Residence</p>
        <p class="ex"><a href="https://twitter.com/cliffordhlee">@cliffordhlee</a></p>
        <p class="ex"><a href="mailto:cliff@youthradio.org">cliff@youthradio.org</a></p>
      </div>
      </header>
    </div>
    <div class="team-item">
      <header class="teamheader">
        <img src="/assets/media/storm.jpg">
        <div class="teaminfo">
        <h3>Storm White</h3>
        <p class="ex">Designer Fellow</p>
        <p class="ex"><a href="mailto:storm@youthradio.org">cliff@youthradio.org</a></p>
      </div>
      </header>
    </div>
    <div class="team-item">
      <header class="teamheader">
        <img src="/assets/media/donta.jpeg">
        <div class="teaminfo">
        <h3>Donta Jackson</h3>
        <p class="ex">Project Associate</p>
        <p class="ex"><a href="mailto:donta@youthradio.org">donta@youthradio.org</a></p>
      </div>
      </header>
    </div>
  </div>
  <hr>
  <h3>Interns</h3>
  <div id="intern">
    <div class="row">
    <div class="col-md-2">
      <img src="/assets/media/joi.jpg" alt="">
      <p> Joi Smith </p>
    </div>
    <div class="col-md-2">
      <img src="/assets/media/eli.jpg" alt="">
      <p> Eli Arbreton</p>
    </div>
    <div class="col-md-2">
      <img src="/assets/media/isabela.jpg" alt="">
      <p>Isabella Ordaz</p>
    </div>
    <div class="col-md-2">
      <img src="/assets/media/Maya.jpg" alt="">
      <p>Maya Escobar</p>
    </div>
    <div class="col-md-2">
      <img src="/assets/media/senay.jpg" alt="">
      <p>Senay Alkebu-lan</p>
    </div>
    <div class="col-md-2">
      <img src="/assets/media/joy.jpg" alt="">
      <p>Joy White</p>
    </div>
  </div>
    <div class="row">
    <div class="col-md-2">
      <img src="/assets/media/kayla.jpg" alt="">
      <p>Kayla Garrett</p>
    </div>
    <div class="col-md-2">
      <img src="/assets/media/steven.jpg" alt="">
      <p>Steven Monroy</p>
    </div>
    <div class="col-md-2">
      <img src="/assets/media/alvaro.jpg" alt="">
      <p>Alvaro Magdaleno</p>
    </div>
    <div class="col-md-2">
      <img src="/assets/media/shyra.jpg" alt="">
      <p>Shyra Gums</p>
    </div>
    <div class="col-md-2">
      <img src="/assets/media/nkosi.jpg" alt="">
      <p>Nkosi Richardson</p>
    </div>
    <div class="col-md-2">
      <img src="/assets/media/kendrick.jpg" alt="">
      <p>Kendrick Calkins</p>
    </div>
  </div>
    <div class="row">
    <div class="col-md-2">
      <img src="/assets/media/skylar.jpg" alt="">
      <p>Skylar Bryant</p>
    </div>
    <div class="col-md-2">
      <img src="/assets/media/christina.jpg" alt="">
      <p>Christina So</p>
    </div>
    <div class="col-md-2">
      <img src="/assets/media/alex.jpg" alt="">
      <p>Alex Kennedy</p>
    </div>
    <div class="col-md-2">
      <p>Hasinnie Bennett</p>
      <p>Dakota Hayes</p>
      <p>Lakayla Dyer</p>
      <p>Le'Marcus O'Neal</p>
    </div>
    <div class="col-md-2">
      <p>Hasinnie Bennett</p>
      <p>Dakota Hayes</p>
      <p>Lakayla Dyer</p>
      <p>Le'Marcus O'Neal</p>
    </div>
    <div class="col-md-2">
      <p>Hasinnie Bennett</p>
      <p>Dakota Hayes</p>
      <p>Lakayla Dyer</p>
      <p>Le'Marcus O'Neal</p>
    </div>
  </div>
  </div>

  <hr>
</section>
{{> footer}}